---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---
<DefaultLayout title="Home">
  <section class="space-32">
    <div class="container">
      <h1 tabindex="-1">Hello world!</h1><br>
    </div>
  </section>
</DefaultLayout>
