---
import CallToAction from '../components/CallToAction.astro'
import Navigation from '../components/Navigation.astro'
import ResponsiveToggle from '../components/ResponsiveToggle.astro'
import SkipLinks from '../components/SkipLinks.astro'
---
<header>
  <SkipLinks client:load />
  <section>
    <div class="container">
      <img src="/assets/logo.svg" alt="Easybank Logo">
      <ResponsiveToggle client:load />
      <Navigation client:load />
      <CallToAction />
    </div>
  </section>
</header>

<style lang="scss">
  @use "../styles/base/space" as *;

  header {
    background-color: var(--neutral-clr-400);
    padding: $space-16 0;
    z-index: 2;

    @media (min-width: 920px) {
      padding: 0;
    }
  }

  .container  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media (min-width: 35rem) {
      flex-direction: row;
    }

    img {
      max-height: 40px;
    }
  }
</style>