---
import Card from "../components/Card.astro"
---
<section class="latest-articles padding-64">
  <div class="container">
    <h2>Latest Articles</h2>
    <div class="grid small-grid-1 medium-grid-2 large-grid-4 space-48 top equal-height">
      <div class="cell animate">
        <Card
          img="currency"
          author="Claire Robinson"
          title="Receive money in any currency with no fees"
        >
          The world is getting smaller and we’re becoming more mobile. So why should you be forced to only receive money in a single …
        </Card>
      </div>
      <div class="cell animate">
        <Card
          img="restaurant"
          author="Wilson Hutton"
          title="Treat yourself without worrying about money"
        >
          Our simple budgeting feature allows you to separate out your spending and set realistic limits each month. That means you …
        </Card>
      </div>
      <div class="cell animate">
        <Card
          img="plane"
          author="Wilson Hutton"
          title="Take your Easybank card wherever you go"
        >
          We want you to enjoy your travels. This is why we don’t charge any fees on purchases while you’re abroad. We’ll even show you …
        </Card>
      </div>
      <div class="cell animate">
        <Card
          img="confetti"
          author="Claire Robinson"
          title="Our invite-only Beta accounts are now live!"
        >
          After a lot of hard work by the whole team, we’re excited to launch our closed beta. It’s easy to request an invite through the site …
        </Card>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .latest-articles {
    background-color: var(--neutral-clr-300);
  }
</style>