<button class="responsive-toggle">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="11"><g fill="#2D314D" fill-rule="evenodd"><path d="M0 0h24v1H0zM0 5h24v1H0zM0 10h24v1H0z"/></g></svg>
</button>

<script>
  const responsiveToggle = document.querySelector('.responsive-toggle')

  responsiveToggle.addEventListener('click', event => {
    const mainNavigation = document.querySelector('.main-navigation')
    const responsiveOverlay = document.querySelector('.responsive-overlay')
    mainNavigation.classList.toggle('show')
    responsiveOverlay.classList.toggle('show')

    // TODO: toggle aria expanded

    mainNavigation.classList.contains('show')
      ? responsiveToggle.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19"><g fill="#2D314D" fill-rule="evenodd"><path d="M.868.661l16.97 16.97-.706.708L.162 1.369z"/><path d="M.161 17.632L17.131.662l.708.706-16.97 16.97z"/></g></svg>'
      : responsiveToggle.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="11"><g fill="#2D314D" fill-rule="evenodd"><path d="M0 0h24v1H0zM0 5h24v1H0zM0 10h24v1H0z"/></g></svg>'
  })
</script>

<style lang="scss">
  @use "../styles/base/outline" as *;
  
  .responsive-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60px;
    height: 50px;
    border: 1px solid var(--neutral-clr-100);
    border-radius: 0.3rem;

    &:focus {
      @include outline;
    }

    @media (min-width: 920px) {
      display: none;
    }
  }
</style>