/*
 | -------------------------------------------------------------
 |	--> color
 | -------------------------------------------------------------
 |
 | 	Color map with HSL values. Used to create Custom Properties
 |  in _root.scss.
 |
*/

$colors: (
  primary-clr: (
    100: hsl(233, 26%, 24%),
    200: hsl(136, 65%, 51%),
    300: hsl(192, 70%, 51%),
  ),
  neutral-clr: (
    100: hsl(233, 8%, 62%),
    200: hsl(220, 16%, 96%),
    300: hsl(0, 0%, 98%),
    400: hsl(0, 0%, 100%),
  ),
);
