/*
 | -------------------------------------------------------------
 |	--> color
 | -------------------------------------------------------------
 |
 | 	Color map with HSL values. Used to create Custom Properties
 |  in _root.scss.
 |
*/

$colors: (
  primary-clr: (
    blue: hsl(194, 100%, 96%),
    green: hsl(194, 100%, 80%),
    cyah: hsl(194, 100%, 70%),
  ),
  neutral-clr: (
    grayblue: hsl(0, 0%, 100%),
    lightgray: hsl(200, 23%, 97%),
    offwhite: hsl(200, 12%, 95%),
    white: hsl(205, 12%, 88%),
  ),
);
