/*
 | -------------------------------------------------------------
 |	--> root
 | -------------------------------------------------------------
 |
 | 	Sets all custom properties (variables) to the root element.
 |
*/

@use "color" as *;

:root {
  // colors
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --#{$color}-#{$shade}: #{$value};
    }
  }
  // border radius
  --radius-small: 3px;
  --radius-large: 6px;
  // grid gap
  --gap-default: 2rem;
  // font measure
  --font-measure: 70ch;
  // font family
  --font-family-default: "Public Sans", sans-serif;
  --font-family-special: "Public Sans", sans-serif;
  // default color scheme
  --font-color: var(--primary-clr-100);
  --action-color: var(--primary-clr-300);
  --background: var(--neutral-clr-400);
  --primary-background: var(--primary-clr-100);
  --neutral-background: var(--neutral-clr-200);
}
